@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
/* Box Model Hack */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
}

/******************************************
/* LAYOUT
/*******************************************/
/* The navigation bar   */
header {
  background: url(https://res.cloudinary.com/db88ckgtm/image/upload/v1606853558/100devs/restaurant/restaurant-hero_eoge05.jpg)
    center no-repeat;
  height: 100vh;
  background-size: cover;
}
nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
nav ul {
  display: flex;
  gap: 50px;
  margin: 10px 150px;
}
nav + section {
  width: 50%;
  padding: 7em 5em;
}
input {
  padding: 0.6em 5em;
  margin-right: 0;
}
.btn {
  border: none;
  padding: 0.7em 2em;
  background-color: rgba(241, 162, 74, 100%);
  color: #fff;
  margin-left: -0.5em;
  border-radius: 0px 5px 5px 0;
}
.count {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}
section h1 {
  font-size: 4em;
}
section p {
  margin: 1em 0;
}
.box-a {
  background-image: url("https://images.unsplash.com/photo-1478144592103-25e218a04891?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=775&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: start;
  padding: 3em 25em;
}
.box-a div {
  background-color: rgb(236, 223, 223, 0.3);
  line-height: 20px;
  font-size: 1.3em;
  padding: 1em 2em;
  margin-bottom: 2em;
}
.box-a h2 {
  line-height: 1em;
}
.orange {
  font-size: 1.5em;
  color: rgb(245, 153, 48);
}
/* The image container tire */
.gallery {
  text-align: center;
  padding: 3em 2em;
  line-height: 5em;
  background: #e1eaf1;
}
.gallery ul {
  display: flex;
  justify-content: center;
}
.gallery ul li {
  margin: 2em;
}
.box img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.imgContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.box {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 5px;
}
h2 {
  font-size: 4rem;
}
.box-b {
  text-align: center;
  padding: 2em;
  background-image: url("https://images.pexels.com/photos/1660030/pexels-photo-1660030.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
.openHours {
  display: flex;
  justify-content: center;
  gap: 10em;
  margin: 2em 0;
}
.openHours + img {
  width: 70%;
}
footer {
  text-align: center;
  padding: 4em 10em;
}
footer .container > * {
  line-height: 3em;
}
footer img {
  width: 100px;
  border-radius: 45%;
}
footer p:nth-last-of-type(1) {
  font-size: 1.5em;
  line-height: 40px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
a {
  text-decoration: none;
  color: #000;
}
ul {
  list-style: none;
}
/* Icon styles  */
.material-symbols-outlined {
  font-variation-settings: "FILL" 3, "wght" 400, "GRAD" 0, "opsz" 48;
  color: rgb(245, 153, 48);
}
/* The fonts  */
.font {
  font-family: "Lato", sans-serif;
}
