<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Cuisine Restaurant</title>
		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

		
	</head>
	<body>
<header>
<nav>
	<ul>
		<li>  <a href="#">Home</a>  </li>
		<li>  <a href="#">About Us</a>  </li>
		<li>  <a href="#">Menu</a>  </li>
		<li>  <a href="#">Order Now</a>  </li>
		<li>  <a href="#">Blog</a>  </li>
		<li>  <a href="#">Location</a>  </li>
		<li><a href="#"><i class="fas fa-shopping-cart"></i></i></a></li>
		<li><a href="#"><i class="fas fa-search"></i></a></li>
	</ul>
</nav>
<section> 
	<h1>
		Welcome <br> To Our Cuisine Restaurant
	</h1>
	<form action="#">
	<input type="text" placeholder="Search More">
	<button class="btn">
		Location
	</button>
	</form>
	<ul class="count">
		<li> <a href="#"> <i class="fab fa-twitter"></i> 252k</a> </li>
		<li> <a href="#"> <i class="fab fa-facebook-square"></i> 62k</a> </li>
		<li> <a href="#"> <i class="fab fa-instagram"></i>55k </a> </li>
	</ul>
	</section>
</header>
<main>
<section class="box-a">
	<div>
		<h2>
			Doscover our restaurant story
		</h2>
		<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro perspiciatis officiis magni quas, dicta in. Quidem dolor exercitationem eos, voluptatem modi tenetur iste reprehenderit libero! Blanditiis corrupti, ea repudiandae, voluptates dolorem obcaecati maiores nisi doloremque vitae nobis, perferendis cumque incidunt adipisci recusandae? Sunt modi, vero nobis ea veritatis quia debitis, dolorem optio libero dolor laborum accusamus voluptate quos sit soluta quis praesentium consequuntur? Ipsum numquam dolore quos aut nihil placeat, delectus, tempora quasi eum beatae eos pariatur nemo hic, voluptatibus perferendis sapiente architecto illum quisquam consectetur? Quidem molestiae minus beatae, quis error itaque quo? Molestiae nisi asperiores eius blanditiis? Quo?
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem magni similique corrupti deleniti omnis dicta minima consequuntur nulla ad obcaecati?
		</p>
		<button class="btn">
			Discover Menu
		</button>
	</div>
</section>
 <!-- The section with the gid tile images  -->
 <section>
	<div class="gallery">
		<span>
			Order Onlne Now
		</span>
		<h2>
		Our Specility Cuisine
		</h2>
		<section>
			<ul>
				<li><a href="#">Breakfast</a></li>
				<li><a href="#">Lunch</a></li>
				<li><a href="#">Dinner</a></li>
				<li><a href="#">Dessert</a></li>
				<li><a href="#">Shake</a></li>
			</ul>
			<div class="imgContainer">
<div class="box"><img src="https://images.pexels.com/photos/9586229/pexels-photo-9586229.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt=""></div>
<div class="box"><img src="https://images.pexels.com/photos/5949895/pexels-photo-5949895.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt=""></div>
<div class="box"><img src="https://images.pexels.com/photos/4253131/pexels-photo-4253131.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt=""></div>
<div class="box"><img src="https://images.pexels.com/photos/5436122/pexels-photo-5436122.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt=""></div>
<div class="box"><img src="https://images.pexels.com/photos/4253318/pexels-photo-4253318.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt=""></div>
<div class="box"><img src="https://images.pexels.com/photos/2878741/pexels-photo-2878741.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt=""></div>
<div class="box"><img src="https://images.pexels.com/photos/357573/pexels-photo-357573.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt=""></div>
<div class="box"><img src="https://images.pexels.com/photos/315755/pexels-photo-315755.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt=""></div>

			</div>
		</div>
		</section>

<section class="box-b">
<div class="container">
<span>Book Table</span>
<h2>Opening Hours</h2>
<ul>
	<li> <img src="#" alt=""> </li>
	<li>Call Now</li>
	<li>+2547245673892</li>
</ul>
<div class="openHours">
	<div>
		<span>Monday to Tuesday</span>
		<p>09:00 am-22:00 pm</p>
	</div>
	<div>
		<span>Friday to Sunday</span>
		<p>11:00 am-20:00 pm</p>
	</div>
</div>
<img src="https://main--shiny-dodol-392481.netlify.app/cuisine-layout/breakfast%20bowl.PNG" alt="">
</div>
</section>
<footer class="footer">
<div class="container">
<span>Testimnials</span>
<h2>Customer Say</h2>
<img src="https://images.unsplash.com/photo-1596075780750-81249df16d19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
<p>Mr John Smith</p>
<span>Art Director</span>
 <div class="starRatings">
	<span class="material-symbols-outlined">
		star
		</span>
		<span class="material-symbols-outlined">
			star
			</span>
			<span class="material-symbols-outlined">
				star
				</span>
				<span class="material-symbols-outlined">
					star
					</span>
					<span class="material-symbols-outlined">
						star
						</span>
 </div>



<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, dignissimos natus repellendus odit accusantium eius iusto iure voluptates cumque et culpa corporis voluptatibus ducimus officiis eligendi qui eum consequatur, accusamus necessitatibus vitae rerum id consequuntur, saepe repellat! Quia nisi blanditiis, quasi ratione tenetur hic, eum voluptate assumenda, aliquid voluptatibus dolore!</p>
</div>
</footer>


 </section>















</main>







	


















		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
