/* Box Model Hack */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
/* The navigation bar   */
header  {
	background: url(https://res.cloudinary.com/db88ckgtm/image/upload/v1606853558/100devs/restaurant/restaurant-hero_eoge05.jpg)center no-repeat ;
height: 100vh;
background-size: cover;

}
nav{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
nav ul {
display: flex;
gap: 50px;
margin: 10px 150px;
}
nav+section{
  width: 50%;
  padding: 7em 8em;

}
input{
  padding: 0.6em 5em;
  margin-right: 0;
}
.btn{
  border: none;
  padding: 0.7em 2em;
  background-color: rgba( 241, 162, 74, 100%);
  color: #fff;
  margin-left: -0.25em;
  border-radius: 5px;
}
.count{
  display: flex;
  gap: 15px;
  margin-top: 20px;
  flex-wrap: ;
}
section
h1{
  font-size: 4em;
}
section p{
  margin: 1em 0;
}
.box-a{
  background-image: url("https://images.unsplash.com/photo-1478144592103-25e218a04891?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=775&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: start;
  padding: 1em 25em;

}
.box-a div{
  background-color: rgb(236, 223, 223, 0.3);
  height: 100%;
  line-height: 20px;
  padding: 7em 2em;
  font-size: 1.3em;

}
.box-a h2{
  line-height: 1em;
}
/* The image container */
.gallery{
  text-align: center;
  padding: 3em 2em;
  line-height: 5em;
  background: #E1EAF1;
}
.gallery ul{
  display: flex;
  justify-content: center;
}
.gallery ul li{
  margin: 2em;
}
.box img{
position: absolute;
left: 0;
top: 0;
width: 100%;  
height: 100%;
object-fit: cover;
}
.imgContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.box{
  position: relative;
  width: 300px;
  height: 400px;
  margin: 5px;
}
h2{
  font-size: 4rem;
}
.box-b{
  text-align: center;
  padding: 2em;
background-image: url("https://images.pexels.com/photos/1660030/pexels-photo-1660030.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
.openHours{
  display: flex;
  justify-content: center;
  gap: 10em;
  margin: 2em 0;
}
footer {
  text-align: center;
  padding: 4em 10em;
}
footer .container > *{
  line-height: 3em;
}
footer img{
  width: 100px;
  border-radius: 45%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
a{
  text-decoration: none;
}
ul{
  list-style: none;
}